/* search result css */
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: fit-content;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    /* padding: 17px 48px; */
    color: #fff;
    background-color: #accbee;
    height: 36px;
    min-height: fit-content;
    margin: 0.5em;
}


.button:hover {
    transform: scale(1.04);
    background-color: #74abea;
}

.button:disabled {
    transform: scale(1.04);
    background-color: #616467;
    cursor: not-allowed;

}